# Recipe format compatibility check i.e. what versions of the assembler does this recipe work with? 
recipe_vsn = "1.0.0"



# About the solution as a whole
[solution]
    name = "Job Tracking"
    slug = "job_tracking"
    version = "2.4.1"
    description = "Shoestring Job Tracking Starter Solution"



# Service module instances present in this solution
[service_module.scanner]
    source="barcode_scanning"
    containers = ["sensing"]
    template.log_level = "info"
    volume.sensing.udev = "/run/udev"
    depends_on.sensing = ["mqtt-broker.broker", "identity.db"]

[service_module.job-db]
    source = "location_sds"
    containers = ["db"]
    ports.db.api = 8010
    alias.db = "job-db"

[service_module.identity]
    source = "identity_sds"
    containers = ["db"]
    ports.db.api = 8002
    alias.db = "identity-sds"

[service_module.dashboard]
    source = "dashboard_ui"
    containers = ["webserver"]
    ports.webserver.ui = 8000

[service_module.user-input]
    source = "user_input_ui"
    containers = ["webserver"]
    ports.webserver.ui = 80



# Infrastructure modules present in this solution
[infrastructure.mqtt-broker]
    source = "mqtt_broker"
    containers = ["broker"]
    ports.broker.tcp = 1883
    ports.broker.websocket = 9001
    alias.broker = "mqtt"

[infrastructure.logging]
    source = "logging"
    containers = ["alloy","loki"]
    ports.loki.api = 3100
    alias.loki = "loki"
    alias.alloy = "alloy"
    volume.alloy.docker_sock = "/var/run/docker.sock"

[infrastructure.platform_link]
    source = "plink"
    containers = ["link"]
    ports.link.ui = 5000
    alias.link = "platform_link"



# Available module code sources which can feed the above instances
[source.barcode_scanning]
	git.path = "sm_barcode_dc"
    git.tag = "v1.3.2"

[source.location_sds]
    git.path = "django_relational_db"
    git.tag = "v1.0.0"

[source.identity_sds]
    git.path = "django_relational_db"
    git.tag = "v1.0.0"

[source.user_input_ui]
    git.path = "react_ui"
    git.tag = "v1.1.0"

[source.dashboard_ui]
    git.path = "react_ui"
    git.tag = "v1.1.0"

[source.mqtt_broker]
    git.path = "sm_mqtt_broker"
    git.tag = "v2.0.0"

[source.logging]
    git.path = "Logging"
    git.tag = "v1.0.0"

[source.plink]
    git.path = "PlatformLink"
    git.tag = "v1.0.0"
